<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TeamManagement</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a [routerLink]="['/welcome']">Home</a></li>
      <li><a [routerLink]="['/displayProfile']">Profile</a></li>
      <li class="active"><a [routerLink]="['/applyAttendance']">Attendance</a></li>
      <li><a [routerLink]="['/welcome']">Transport</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a (click)='clearStorage()'><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
<div class="container">
  <form>

    <div class="form-group row has-success">
          <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <div class="form-group">              
              <select class="form-control" id="example-city-selector"  [(ngModel)]="InputCity" [ngModelOptions]="{standalone: true}">
                <option>chennai</option>
                <option>pune</option>               
              </select>
            </div>                     
        </div>
    </div>
    
    <div class="form-group row has-success">
      <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">      
        <input class="form-control" type="date"  placeholder="dd/mm/yyyy" id="example-date-input" 
        [(ngModel)]="Inputdatevalue" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row has-success">
      <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">In Time</label>
      <div class="col-sm-10">
        <input class="form-control" type="time"  placeholder="HH:MM" id="example-in-time-input"  
        [(ngModel)]="InputIntime" [ngModelOptions]="{standalone: true}">
        
      </div>
    </div>

    <div class="form-group row has-success">
      <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Out Time</label>
      <div class="col-sm-10">
        <input class="form-control" type="time"  placeholder="HH:MM" id="example-out-time-input" 
        [(ngModel)]="InputOuttime" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    

    <div class="form-group row has-success">
      <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Working From</label>
      <div class="col-sm-10">
         <div class="form-group">              
          <select class="form-control" id="example-city-selector"  [(ngModel)]="InputWorkingPlace" [ngModelOptions]="{standalone: true}">
            <option>From Office</option>
            <option>From Home</option>               
          </select>
        </div>   
      </div>
    </div>
  </form> 


  <button class="btn btn-primary" type="button" (click)='markAttendace()'>Apply</button>
 
</div>
