<!-- Display Profile Screen -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TeamManagement</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a [routerLink]="['/welcome']">Home</a></li>
        <li class="active"><a [routerLink]="['/displayProfile']">Profile</a></li>
        <li><a [routerLink]="['/applyAttendance']">Attendance</a></li>
        <li><a [routerLink]="['/editProfile']">Edit Profile</a></li>
        <li><a [routerLink]="['/welcome']">Transport</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a (click)='clearStorage()'><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </nav>
<div class="container" >
	<div class="row">
		<h2>All Personal Information of User.Here you can find any information related to user</h2>
        
        
              <div class="col-md-5 ">
                  <div class="panel panel-default">
                              <div class="panel-heading">  <h4 >User Profile</h4></div>
                              <div class="panel-body">
                                  
                                <div class="box box-info">
                                    
                                        <div class="box-body">
                                                <div class="col-sm-6">
                                                <div  align="center"> <img alt="User Pic" [src]='profileData?.imageSrc'  id="profile-image1" class="img-circle img-responsive"> 
                                            
                                            <input id="profile-image-upload" class="hidden" type="file">
                            <div style="color:#999;" >click here to change profile image</div>
                                            <!--Upload Image Js And Css-->
                                      
                                                </div>
                                          
                                          <br>
                                
                                          <!-- /input-group -->
                                        </div>
                                        <div class="col-sm-6" >
                                        <h4 style="color:#00b1b1;"  >{{profileData?.first_name}} {{profileData?.middle_name}} {{profileData?.last_name}} </h4>
                                          <span><p>Aspirant</p></span>            
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr style="margin:5px 0 5px 0;">
                                
                                          
                            <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">{{profileData?.first_name}}</div>
                                <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Middle Name:</div><div class="col-sm-7"> {{profileData?.middle_name}}</div>
                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> {{profileData?.last_name}}</div>
                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7">{{profileData?.join_date}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">{{profileData?.birth_date}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Email Id:</div><div class="col-sm-7">{{profileData?.email_id}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital " >User Id:</div><div class="col-sm-7">{{profileData?.user_id}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Role:</div><div class="col-sm-7">{{profileData?.role}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Project Assigned</div><div class="col-sm-7">{{profileData?.project}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Manager Assigned</div><div class="col-sm-7">{{profileData?.manager}}</div>

                              <div class="clearfix"></div>
                            <div class="bot-border"></div>


                                        <!-- /.box-body -->
                                      </div>
                                      <!-- /.box -->

                                    </div>
                                  
                                        
                                </div> 
                  </div>
                   <!-- Certificate Details -->

                   <div class="panel panel-default">
                      <div class="panel-heading"><h4 >Certificate Details</h4></div>
                       <div class="panel-body">
                        <div class="box box-info" *ngFor="let cer of profileData?.certificate_details">
                            
                                <div class="box-body">
                                     
                                 <!-- Heading Goes here      -->
                                 <div class="col-sm-8">
                                  <!-- <div  align="center">  -->
                                      <!-- <div class="col-sm-6" > -->
                                          <h4 style="color:#00b1b1;"  >{{cer.name}}</h4>
                                  
                                </div>
                           
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">      
                                  <!-- Detail goes here -->
                                        <div class="col-sm-5 col-xs-6 tital " >Name:</div><div class="col-sm-7 col-xs-6 ">{{cer.name}}</div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                  
                                </div>
      
                                <div class="box-body">
                                      
                                      <div class="col-sm-5 col-xs-6 tital " >Validity:</div><div class="col-sm-7 col-xs-6 ">{{cer.validity}}</div>
                                      <div class="clearfix"></div>
                                      <div class="bot-border"></div>
                                
                               </div>
      
                              <div class="box-body">
                                      
                                  <div class="col-sm-5 col-xs-6 tital " >Certified from:</div><div class="col-sm-7 col-xs-6 ">{{cer.certified_from}}</div>
                                  <div class="clearfix"></div>
                                  <div class="bot-border"></div>
                            
                              </div>
                           
                            <br>
                       </div>
                    </div> 
                  </div>  

              </div> 
                  
              <div class="col-md-6 ">

                    <!-- Education Details    -->
                      <div class="panel panel-default">
                        <div class="panel-heading"><h4 >Highest Qualifications</h4></div>
                        <div class="panel-body">
                          <div class="box box-info">
                              
                                  <div class="box-body">
                                      
                                          <div class="col-sm-5 col-xs-6 tital " >Degree Name:</div><div class="col-sm-7 col-xs-6 ">{{education_data?.degree_name}}</div>
                                          <div class="clearfix"></div>
                                          <div class="bot-border"></div>
                                    
                                  </div>

                                  <div class="box-body">
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Field Name:</div><div class="col-sm-7 col-xs-6 ">{{education_data?.field_name}}</div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                  
                                </div>

                                <div class="box-body">
                                        
                                    <div class="col-sm-5 col-xs-6 tital " >Passing Year:</div><div class="col-sm-7 col-xs-6 ">{{education_data?.passing_year}}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                              
                            </div>
                              <div class="box-body">
                                          
                                  <div class="col-sm-5 col-xs-6 tital " >Result:</div><div class="col-sm-7 col-xs-6 ">{{education_data?.result}}</div>
                                  <div class="clearfix"></div>
                                  <div class="bot-border"></div>
                            
                          </div>
                        </div>
                          </div> 
                      </div>

                    <!-- Work Experience -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4 >Work Experiences</h4></div>
                        <div class="panel-body">
                          <div class="box box-info" *ngFor="let exp of profileData?.work_experience">
                              
                                  <div class="box-body">
                                      
                                  <!-- Heading Goes here      -->
                                  <div class="col-sm-8">
                                    <!-- <div  align="center">  -->
                                        <!-- <div class="col-sm-6" > -->
                                            <h4 style="color:#00b1b1;"  >{{exp.company_name}}</h4>
                                    
                                  </div>
                            
                              <div class="clearfix"></div>
                              <hr style="margin:5px 0 5px 0;">      
                                    <!-- Detail goes here -->
                                          <div class="col-sm-5 col-xs-6 tital " >Designation:</div><div class="col-sm-7 col-xs-6 ">{{exp.role_name}}</div>
                                          <div class="clearfix"></div>
                                          <div class="bot-border"></div>
                                    
                                  </div>
        
                                  <div class="box-body">
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Joining Date:</div><div class="col-sm-7 col-xs-6 ">{{exp.joning_date}}</div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                  
                                </div>
        
                                <div class="box-body">
                                        
                                    <div class="col-sm-5 col-xs-6 tital " >Leaving Date:</div><div class="col-sm-7 col-xs-6 ">{{exp.leaving_date}}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                              
                                </div>
                              <div class="box-body">
                                          
                                  <div class="col-sm-5 col-xs-6 tital " >Number of Months:</div><div class="col-sm-7 col-xs-6 ">{{exp.number_of_exp}}</div>
                                  <div class="clearfix"></div>
                                  <div class="bot-border"></div>
                            
                              </div>
                              <br>
                        </div>
                          </div> 
                    </div>

                    <!-- BCS Exams List -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4 >BCS Exam Lists</h4></div>
                        <div class="panel-body">
                          <div class="box box-info" *ngFor="let bcs of profileData?.bcs_internal_exam_list">
                              
                                  <div class="box-body">
                                      
                                  <!-- Heading Goes here      -->
                                  <div class="col-sm-8">
                                    <!-- <div  align="center">  -->
                                        <!-- <div class="col-sm-6" > -->
                                            <h4 style="color:#00b1b1;"  >{{bcs.exam_name}}</h4>
                                    
                                  </div>
                            
                              <div class="clearfix"></div>
                              <hr style="margin:5px 0 5px 0;">      
                                    <!-- Detail goes here -->
                                          <div class="col-sm-5 col-xs-6 tital " >Status:</div><div class="col-sm-7 col-xs-6 ">{{bcs.status}}</div>
                                          <div class="clearfix"></div>
                                          <div class="bot-border"></div>
                                    
                                  </div>
        
                                  <div class="box-body">
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Percentage:</div><div class="col-sm-7 col-xs-6 ">{{bcs.percentage}}</div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                  
                                </div>
        
                                <div class="box-body">
                                        
                                    <div class="col-sm-5 col-xs-6 tital " >No. Of Attempt:</div><div class="col-sm-7 col-xs-6 ">{{bcs.attempt_no}}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                              
                                </div>
                             
                              <br>
                        </div>
                          </div> 
                    </div>
              </div>
                     


                 
                  


        
    <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});       
              </script> 
  
   </div>
</div>
</div>