
<div class="main_section">
  <div class="container"> -->
       <div class="split1 left">
      
       
        <div class="centered">
          <img src="img_avatar2.png" alt="Avatar woman">
          <h2>Jane Flex</h2>
          <p>Some text.</p>

        </div> 
      </div>

       <div class="split2 right">
        <!-- <div class="centered"> -->
          <div class="container">
            
             <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:85%">
                  <h2>Social Book</h2>
                  <p>Post photos,videos,information</p><br>
                  <form class="form-inline">
                      <input type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                      <button type="submit" class="btn btn-default" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"  >Create Post</button>
                  </form>
              </div>   
             </div>
            </div>     
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:85%">
                        <div class="card card-inverse card-info" *ngFor="let post of post_array">                           
                                  <div class="card-block">                               
                                    <div class="card-text">                                   
                                            <div class="media">
                                                    <div class="media-left media-top">
                                                      <figure class="profile profile-inline">
                                                        <img [src]='post.post_img_src' class="profile-avatar" alt="">
                                                      </figure>
                                                    </div>
                                                    <div class="media-body">
                                                      <h4 class="media-heading card-title mt-3">{{post.post_by_name}}  <small><i>Posted on {{post.posted_on}}</i></small></h4>
                                                      <p>{{post.post_detail}}</p>
                                                      
                                                      <!-- <div class="media">
                                                        <div class="media-left media-top">
                                                          <figure class="profile profile-inline">
                                                            <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
                                                          </figure>
                                                        </div>
                                                        <div class="media-body">
                                                          <h4 class="media-heading card-title mt-3">Media Top  <small><i>Posted on February 19, 2016</i></small></h4>
                                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        </div>
                                                      </div> -->

                                                      
                                                    </div>
                                            </div>                                
                                    </div> 
                                  </div> 
                                  <div class="card-footer" >
                                         
                                   
                                   

                                    <div class="dropdown" >
                                        <small class="dropbtn">{{post.post_comment.length}} Comments</small>
                                        <div class="dropdown-content" *ngFor="let comment_post of post.post_comment">
                                            <div class="media">
                                              <div class="media-left media-top">
                                                <figure class="profile profile-inline">
                                                    <img [src]='comment_post.post_img_src' class="profile-avatar" alt="">
                                                    <!-- <a href="#">{{like_post.name}}</a> -->
                                                </figure>
                                              </div>  
                                              <div class="media-body">
                                                  <h5 class="media-heading card-title mt-3">{{comment_post.post_by_name}}</h5>
                                                  <p>{{comment_post.post_text}}</p>
                                              </div> 
                                          </div>
                                        </div>
                                      </div>

                                      <div class="dropdown" >
                                      <small class="dropbtn">{{post.post_like.length}} Likes</small>
                                      <div class="dropdown-content" *ngFor="let like_post of post.post_like">
                                          <h5 class="media-heading card-title mt-3">{{like_post.name}}</h5>
                                          <!-- <div class="media">
                                            <div class="media-left media-top">
                                              <figure class="profile profile-inline">
                                                  <img [src]='like_post.like_img_src' class="profile-avatar" alt="">
                                                  <!-- <a href="#">{{like_post.name}}</a> -->
                                             <!--  </figure>
                                            </div>  
                                            <div class="media-body">
                                                <h5 class="media-heading card-title mt-3">{{like_post.name}}</h5>
                                            </div> 
                                        </div> -->
                                      </div> 
                                    </div> 
                                    
                                    
                                    <small>{{post.post_share.length}} Share</small>                                    
                                  </div>
                                  <div class="card-footer" >                                  
                                    <button class="btn btn-info float-right btn-sm">Like</button>                                  
                                    <button class="btn btn-info float-right btn-sm">Comment</button>
                                    <button class="btn btn-info float-right btn-sm">Share</button>
                                  </div>                     
                        </div>  
                         
                  </div>
                </div>
               </div>
               <div id="id01" class="modal" #id01>
  
                  <form class="modal-content animate" action="/action_page.php">
                   
                
                    <div class="container">
                        <div class="imgcontainer">
                            <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
                            <img src="./assets/images/nelson.jpg" alt="Avatar" class="avatar">
                            <!-- <label for="pname">Post Name</label> -->
                          <input type="text" id="pname" name="firstname" style="width:40%" placeholder="Post Name" [(ngModel)]="inputPostName">  
                        </div>
                        <form action="action_page.php">
                         
                          <label for="pdetail">Post Detail</label>
                          <textarea id="pdetail" [(ngModel)]="inputPostDetail" name="pdetail" placeholder="Write something.." style="height:200px"></textarea>
                      
                          <button (click)="createPost()" class="btn btn-primary" title="Close Modal">Post</button>
                          <button onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary" title="Close Modal">Close</button>
                      
                        </form>
                      </div>
                      
                  </form>
                </div>
                <script>
                    // Get the modal
                    var modal = document.getElementById('id01');
                    
                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                  </script> 

              

        </div>
      </div>
            


</div>


