<div class="panel panel-primary">
        <div class="panel-heading">
            {{pageTitle}}
        </div>
        
        <div class="panel-body"  >
                <div>

                    <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-md-offset-4">
                            <h1 class="text-center login-title">Sign in to continue</h1>
                            <div class="account-wall">
                                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                    alt="">
                                
                                <input type="text" class="form-control" placeholder="Email" id="emailId" required autofocus>
                                <input type="password" class="form-control" placeholder="Password" id="passId" required>
                                <button class="btn btn-primary btn-block" (click)='loginPressed()'>
                                    Sign in</button>
                                <label class="checkbox pull-left">
                                    <input type="checkbox" value="remember-me">
                                    Remember me
                                </label>
                                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                
                            </div>
                            <a href="#" class="text-center new-account">Create an account </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>     
    </div>  