<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
   

    <div class="container">
        <div class="imgcontainer">
            <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
            <img src="./assets/images/nelson.jpg" alt="Avatar" class="avatar">
            <!-- <label for="pname">Post Name</label> -->
          <input type="text" id="pname" name="firstname" style="width:40%" placeholder="Post Name" [(ngModel)]="inputPostName">  
        </div>
        <form action="action_page.php">
         
          <label for="pdetail">Post Detail</label>
          <textarea id="pdetail" [(ngModel)]="inputPostDetail" name="pdetail" placeholder="Write something.." style="height:200px"></textarea>
      
          <button (click)="createPost()" class="btn btn-primary" title="Close Modal">Post</button>
          <button onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary" title="Close Modal">Close</button>
      
        </form>
      </div>
      
  </form>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>