﻿<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TeamManagement</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink]="['/displayProfile']">Profile</a></li>
        <li><a [routerLink]="['/applyAttendance']">Attendance</a></li>
        <li><a [routerLink]="['/welcome']">Transport</a></li>
        <div class="dropdown" >                                         
                <li class="dropbtn">Chatbook</li>
                <div class="dropdown-content" style="overflow: auto">
                  <a [routerLink]="['/socialbook']"> Socialbook</a>
                  <a [routerLink]="['/chatbook']"> Chatroom</a>
                </div>
        </div>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div> -->
          <li><a [routerLink]="['/displayProfile']"><span class="glyphicon glyphicon-user"></span> {{full_name}}</a></li>
        <li><a (click)='clearStorage()'><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </nav>
<div class="container">
    
    <div class="panel .panel-primary">

        <div class="panel-heading"> 
               
                   
                

        </div>

       

        
        <div class="panel-body"> <div class="card-columns">
                <div class="card mb-2 bg-primary text-white text-center p-3" (click)='gotoAttendace()'>
                    <blockquote class="blockquote mb-0">
                    <p>Attendace Management</p>
                    <footer class="blockquote-footer">
                        <small>
                            All Attendance related tasks 
                        </small>
                    </footer>
                    </blockquote>
                </div>
                <div class="card mb-2 bg-success text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Tracker Management</p>
                    <footer class="blockquote-footer">
                        <small>
                            All Tracker related tasks
                        </small>
                    </footer>
                    </blockquote>
                </div>
                    
                <div class="card bg-danger text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <p>HR Management</p>
                    <footer class="blockquote-footer">
                    <small>
                        All HR related tasks including payslip,form-16 etc
                    </small>
                    </footer>
                </blockquote>
                </div>
                <div class="card bg-warning text-dark text-center p-3" (click)='gotoProfile()'>
                    <blockquote class="blockquote mb-0">
                    <p>Profile Management</p>
                    <footer class="blockquote-footer">
                        <small>
                            All User related features
                        </small>
                    </footer>
                    </blockquote>
                </div>
                <div class="card bg-info text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Transport Management</p>
                    <footer class="blockquote-footer">
                        <small>
                            All Transport related tasks
                        </small>
                    </footer>
                    </blockquote>
                </div>
                <div class="card bg-light text-dark text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Visa Management</p>
                    <footer class="blockquote-footer">
                        <small>
                            All Visa related tasks
                        </small>
                    </footer>
                    </blockquote>
                </div>
             

                
            </div>
        </div>
        
    </div> 
</div>   