<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TeamManagement</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink]="['/displayProfile']">Profile</a></li>
        <li class="active"><a [routerLink]="['/applyAttendance']">Attendance</a></li>
        <li><a [routerLink]="['/welcome']">Transport</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a (click)='clearStorage()'><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </nav>
<div class="container">
    
    <div class="panel .panel-primary">

        <div class="panel-heading"> 
               
                <nav class="navbar navbar-light bg-light mx-auto">
                        <form class="form-inline">


                          <input class="form-control mr-sm-2" style="width: 900px;" type="search" placeholder="Search" aria-label="Search"
                          [(ngModel)]='listFilter' [ngModelOptions]="{standalone: true}"
                          />
                          
                          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)='gotoproceedAttendace()'>Apply Attendance</button>
                         
                        </form>
                 </nav>    
                

        </div>
        
        <!-- <div class="panel-body">  -->
                <div class='table-responsive'>
                        <table class='table' 
                            >   
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Day</th>
                                    <th scope="col">Attendance</th>
                                    <th scope="col">Start Hour</th>
                                    <th scope="col">End Hour</th>
                                    <th scope="col">Working Hours</th>  
                                    <th scope="col">Working From</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attendanceItem of FilteredListItems">
                                  <!-- <td>
                                      <img  *ngIf='showImage'
                                        [src]='product.imageUrl'
                                        [title]='product.productName'
                                        [style.width.px]='imageWidth'
                                        [style.margin.px]='imageMargin'
                                      />
                                  </td> -->
                                  <!-- <td class="success">
                                    <a [routerLink]="['/products',product.productId]">{{product.productName}}</a>
                                  </td> -->
                                  <td class="text-primary">{{attendanceItem.day}}</td>
                                  
                                  <td  [ngClass]="{'present-class': true }" *ngIf="attendanceItem.att_flag; else attElseBlock" >
                                      {{attendanceItem.attendance}}
                                  </td>
                                  <ng-template #attElseBlock><td  class="text-danger">{{attendanceItem.attendance}}
                                  </td></ng-template> 

                                  <td >{{attendanceItem.start_hour}}</td>                 
                                  <td>{{attendanceItem.end_hour}}</td>
                                  <td>{{attendanceItem.working_hours}}</td>
                                  <td>{{attendanceItem.working_from}}</td>
                                </tr>    
                            </tbody>        
                        </table>
                    </div>
        <!-- </div> -->
        
    </div> 
</div>
